.data_container{
    height: 250px;
    overflow: hidden;
}
.comic_list{
    
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
        background-color:  lighten($color: $background-color, $amount: 20);
    }
}

.comic_conatiner{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.comic_list_title{
    padding-bottom: 20px;
    color : rgb(0, 162, 255);
    font-size: 1.5rem;
    font-weight: 800;
    height: 80px;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.comic_rating{
    padding-top:10px;
    font-size: 15px;
}
.comic_chapters{
    font-size: 15px;
}
.comic_chapters_and_genre{
    padding-top:10px;
}
.comic_list_comic_image{
    object-fit: cover;    
    width: 100%;
    height: 100%;
}

.comic_list_comic_image_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.comic_authors{
    padding-left: 10px;
}
.comic_author_name{
 font-size: 20px;
 margin-left: 5px;
 border : 1px solid gold;
 display: inline-block;
 text-decoration: none;
 padding: 8px 8px;
 color: #fff;
 font-weight: 300;
 border-radius: 200px;
 &:hover{
    background-color:gold !important;
    color: white !important;
}
}

.max_height{
    height: 100% !important;
}

.rating_stars{
    color: rgb(255, 187, 0);
}

.comic_list_comic_data{
    height: 250px !important;
}

.comic_list_comic_description{
    color: rgb(190, 190, 190);
    margin-top: 18px;
    height: 75px;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*.comic_author_name{
    border-radius: 20px;
    border: 2px solid #3c82d1;
    color: lighten($color: #3c82d1, $amount: 35) !important;
    margin: 3px;
    padding: 2px;
    font-size: 0.8rem;

    &:hover{
        background-color: #3c82d1;
        color: white !important;
    }
}*/


