#blog_comments_options{
    font-size: 0.8rem !important;
}
.comment_box{
    border-radius : 25px;
}
.user_name{
     background-color: lighten($color: $background-color, $amount: 15);
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
     color: $custom_color_1;

    &:hover {
        color: white;
    }
}
.comment_content{
    background-color: lighten($color: $background-color, $amount: 15);
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-wrap: anywhere;
}
.replies{
     background-color: lighten($color: $background-color, $amount: 15);
    border-radius:10px;
     padding-left:10px;
    padding-right:10px;
    margin-bottom:4px;
    overflow-wrap: anywhere;

}
.reply_button{
    padding-left:60px;
    padding-bottom:4px;
}
.reply_form{
    max-width:900px;
    margin-left:50px;
    margin-right:50px;
}
.reply_to{
    margin-left:60px;
}
#delete_button{
    font-size:medium;
    position: relative;
    top: 0;
    &:hover{
        cursor:pointer;
    }
}
#edit_button{
    font-size:medium;
    &:hover{
        cursor:pointer;
    }
}
.showhidereplies_button{
    &:hover{
        cursor:pointer;
    }
}

.comment_tag{
    margin-top: 20px;
    margin-bottom: 10px;
}

.comment_text{
    display: flex;
    justify-items: center;
}