a{
    color: white !important;
    text-decoration: none !important
}

.btn-primary{

    @include btn_color(); 

    &:hover {
        background-color: lighten($color: $custom_color_1, $amount: 10)  !important;
    }

    &:active:focus,
    &.active,
    &:active:focus{
        @include btn_color();
    }

    &:focus {
        @include btn_color();
    }
}
.manga_data_manga_image{
    width :250px;
    height:350px;
}
manga_data_container{
    width:100%;
}
.chapters{
    max-height : 20px;
    overflow-y: scroll;
}
.Registration{
    text-align: center;
} 
.login_form{
    width : 100%;
    max-width: 600px;
    padding: 15px;
    margin:auto;
    height: 100%;
}
.label{
    color: #e67e22;
}
.heading{
    text-align: center;
    color: #e67e22;
}
