@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*
 * Container - Button
 */
.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #0c9;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    z-index: 1000;
    animation: bot-to-top 2s ease-out;
}
/*
 * Submenu - Buttons
 */
.submenu {
    position: fixed;
    right: 40px;
    bottom: 70px;
    z-index: 100;
}
.submenu_li {
    list-style: none;
    margin-bottom: 10px;
}
.submenu_a {
    width: 50px;
    height: 50px;
    background-color: #f33;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    display: block;
}
/* Hidden Buttons */
.submenu {
    visibility: hidden;
}
/* Visible Buttons */
.fab:hover + .submenu {
    visibility: visible;
    animation: scale-in 0.5s;
}
.submenu:hover {
    visibility: visible !important;
}
/* Center icons */
a i.material-icons {
    font-size: 24px;
    vertical-align: middle;
    margin-top: 0.4em;
}
/*
 * Animations
 */
.fab i {
    animation: rotate-in 0.5s;
}
.fab:hover > i {
    animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0% {
        bottom: -60px;
    }
    50% {
        bottom: 40px;
    }
}
@keyframes scale-in {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes rotate-in {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate-out {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.rating_button{
    width: 100%;
    height: 100%;
    text-align: right !important;
    font-size: 1rem;
    
}

.rate_button{
    display: flex !important;
    justify-content: center !important;
}

.rate_button_star{
    height: 100%;
}

.submit_rate_star{
    height: 40px;
    width: 40px;
    color: rgb(233, 190, 0);

    &:hover{
        cursor: pointer;
    }
}

.search_result_heading{
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.modal-content{
    color: #63c5ff
}

.upload_modal_tags_input{
    width: 100%
}

.no_chapters{
    margin-top: 10px;
    font-size: 2rem;
    color: red;
}

.tag{
    margin-left: 5px;
    margin-top: 5px ;
    padding-left: 5px;
    padding-right: 5px;
    border: lighten($color: $background-color, $amount: 50) 1px solid;
    border-radius: 15px;
    background-color: lighten($color: $background-color, $amount: 10);

    &:hover{
        background-color: lighten($color: $background-color, $amount: 30);
        cursor: pointer;
    }
}

.tags_text{
    margin-top: 50px;
}

.zeromargin{
    margin: 0 !important; 
}

.user_profile_extras_navbar{
    position: sticky !important;
    top: 50px ;
    width: 100% ;
    z-index: 1;
}

.no_user_post_text{
    text-align: center;
    margin-top: 50px;
    color: #e2e5e2bb;
}

.extra_navbar_show_button{
    margin-left: auto;
}

.user_profile_follow{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    
}

.user_extras_user_details{
    text-align: left;
}

@media (max-width: "580px"){

    .user_extras_user_details{
        text-align: center;
    }

    .small_screen_center_text{
        text-align: center;
        display: block !important;
    }
}

.active_nav_item{
    background-color: lighten($color: $background-color , $amount: 30);
    border-radius: 10px;
}

.nav_link_active{
    background-color: lighten($color: $background-color , $amount: 30);
    border-radius: 10px;
}

@media (max-width: "580px") {
    .active_nav_item{
        margin-top: 11px;
    }
}

.carousel-control-prev, .carousel-control-next{
    &:hover{
        background-color: rgba($color: $background_color, $alpha: 0.2)
    }
}