a{
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important
}
h1{
    color: #e67e22;
}

h2{
    font-style: bold;
    color: #e67e22;
}

#copy_contain_button{
    background-color: transparent !important;
    border: none !important
}

#add_chapter_button{
    background-color: rgb(50, 148, 240) !important;
    border: none !important;
    &:hover 
    {
        background-color: lighten($color: rgb(50, 148, 240), $amount: 10)  !important;
    }
}

#tags{
    color:#11a2f0;
}

#comments_color{
    color: #53be64
}

#follow_button{
    background-color: #5464c9 !important;
    border-color: #5464c9 !important;
    &:hover 
    {
        background-color: lighten($color: #5464c9, $amount: 10)  !important;
    }
}

#delete_chapter_button{
    background-color: #e84d4d !important;
    border-color: #e84d4d !important;
    &:hover 
    {
        background-color: lighten($color: #e84d4d, $amount: 5)  !important;
    }
}

#upload_button{
    background-color: darken($color: #63c5ff, $amount: 20)  !important;
    border-color: darken($color: #63c5ff, $amount: 20)  !important;
    &:hover 
    {
        background-color: darken($color: #63c5ff, $amount: 5)  !important;
    }
}

#white_button{
    background-color: #888888 !important;
    border-color: #bbbbbb !important;
    &:hover 
    {
        background-color: lighten($color: #bbbbbb, $amount: 5)  !important;
    }
}

.btn-primary{

    @include btn_color(); 

    &:hover 
    {
        background-color: lighten($color: $custom_color_1, $amount: 10)  !important;
    }

    &:active:focus,
    &.active,
    &:active:focus{
        @include btn_color();
    }

    &:focus {
        @include btn_color();
    }
}

.manga_data_container{
    width:100%;
    background-color: lighten($color: $background-color, $amount: 5);

}
.chapters{
    max-height : 20px;
    overflow-y: scroll;
}
.Registration{
    text-align: center;
} 
.login_form{
    width : 100%;
    max-width: 600px;
    padding: 15px;
    margin:auto;
    height: 100%;
}

.heading{
    text-align: center;
    color: #e67e22;
}
.photo{
    align-items: center;
}
.about_carousel_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_carousel_item{
    height: 75vh;
    width: 100vw;
}

.about_carousel_title{
    margin-bottom: 0.5rem;
    font-weight: 800 ;
    line-height: 1.2;
    font-size: 2rem;
}
.about_headings{
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   text-align:center; 
   color: #e67e22;}
   

.display_pic{
    border-radius: 100%;
    height :200px;
    width: 200px;
    margin-right: 10px;
    margin-left :10px;
}
.front_end{
    padding-left :46%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel_message{
 font-weight:600;
}
/*post comment section css*/
.post_data_comments {
     background-color: lighten($color: $background-color, $amount: 15);
    padding-top: 10px;
    padding-bottom:10px;
    margin-top: 10px;
    margin-bottom:10px;
    text-align: left !important;
    border-radius:20px;
}
.post_comment_content{
    background-color: lighten($color: $background-color, $amount: 20);
        border-radius:10px;
    padding-left:10px;
    padding-right:10px;
}
.post_comment_buttons{
    padding-left:17px;
}
.post_replies{
    background-color:lighten($color: $background-color, $amount:20);
    margin-left:40px;
    margin-right:20px;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    border-radius:10px;
    margin-bottom: 10px;
}
/* search Reuslt page css */
.search{
    width:100%;
    height:100%;
}
.search_heading{
 margin-top :10px;
 padding-top:12px;
 padding-bottom :12px;
 padding-right:15px;
 padding-left :15px;
 background-color : lighten($color: $background-color, $amount: 1);
 border-radius :10px;
 width : 100%;
 margin-bottom : 10px;
}
.search_button{
    padding-left:10px;
    padding-right :10px;
    padding-bottom :5px;
     padding-top :5px;
    margin-left:5px;
    margin-right :5px;
    background-color : lighten($color: $background-color, $amount: 1);
    border-radius :10px;
}
.top_result{
    margin : 30px 10px 30px 10px;
    font-weight : 1000;
}
.search_image{
    object-fit: cover;
    width: 100%;
    height: 100%;
   &:hover{
        background-color: #fff;
    }
}

.search_image_container{
    height: 50px;  
}

@media(max-width: "580px"){
    .search_image_container{
        height: 70px;  
    }
}

.top_result_data{
    padding-top : 10px;
    padding-bottom :7px;
    margin-bottom :3px;
}
.show_all_button{
    font-size: 16px;
    font-weight: 600;
    color:lighten($color :$background-color ,$amount : 60 );
    max-width: 100px;
    &:hover{
        color :#fff;
    }

}
.result_description{
    color :lighten($color :$background-color ,$amount : 40 )
}
.A{
    padding-top:2px;
    padding-bottom:2px;

    display: flex;
    justify-content: center;

    &:hover{
            background-color: lighten($color :$background-color ,$amount : 10)
        }
}
.search_result_container{
    border-bottom: 2px solid #d1d1d1; 
}

.like_button{
    display: flex;
    justify-content: center;
}

.show_likes_btn{
    color: rgb(112, 147, 241);
    font-weight: 600;

    &:hover {
        cursor: pointer;
        color: rgba(112, 147, 241, 0.8);
    }
}


