@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");

$background_color: rgb(32, 31, 31);

$body-bg: $background_color !important;
$body-color: white;

$custom_color_1: rgb(238, 129, 39);

html, #root{
    height: 100%;
}

body {
    font-family: "Work Sans", sans-serif !important;
    height: 100%;  
}

@mixin btn_color {
    background-color: $custom_color_1 !important;
    border-color: $custom_color_1 !important;
    box-shadow: none !important;
}

.modal-content {
    color: $custom_color_1;
    background-color: $body-bg;

    &.a {
        color: lighten($color: $custom_color_1, $amount: 60);
    }
}

.search-icon {
    color: $custom_color_1;
}

.nav_profile {
    width: 100px;
}

.nav_profile_img {
    margin-top: 4px;
    width: 35px !important;
    height: 35px !important;
    object-fit: cover;
}

#nav-dropdown {
    position: absolute;
    bottom: 2px;
    left: 35px;
    opacity: 0;
}

.dropdown-menu {
    background-color: lighten(
        $color: $background-color,
        $amount: 10
    ) !important;
    left: -20px !important;
}

.dropdown-item {
    &:hover {
        background-color: lighten(
            $color: $background-color,
            $amount: 20
        ) !important;
    }
    &:active {
        background-color: lighten(
            $color: $background-color,
            $amount: 30
        ) !important;
    }
}
.profile_page_user_name {
    margin-top: 20px;
    margin-left: 2px;
    padding-right: 20ox;
    size: 20px;
}

.search_bar_wrapper{
    position: relative;
    width: 100%;
}

.search_bar {
    width: 100%;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
    position: absolute;
    bottom: -12px;
    padding-right: 50px;
}

@media (max-width: 575px){
    .search_bar{
        position: relative;
        bottom: auto;
    }

    .nav_profile{
        margin-left: 0;
        width: 50px;
    }
}

.post_details_section {
    background-color: lighten($color: $background_color, $amount: 20);
    height: calc(100vh - 56px);
    overflow-y: auto;
    top: 56px;
    position: sticky !important;
}

.post_page_image {
    max-height: 90vh;
    object-fit: cover;
    margin-bottom: 20px;
}

.comment_profile_photo {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
}

.space_for_navbar {
    height: 56px !important;
    width: 100% !important;
}

.post_comment_textarea {
    position: sticky !important;
    top: 5px;
    z-index: 1;
}

.add_background_color {
    background-color: lighten($color: $background_color, $amount: 20);
    width: 100%;
}

#profile_navbar {
    position: sticky !important;
    top: 54px;
}

.blog_list_container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.blog_list_carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog_list_carousel_item {
    height: 500px;
    width: 100vw;
}

@media (max-width: "580px") {
    .blog_list_carousel_item {
        height: 200px;
        width: 100vw;
    }

    .blog_header_image {
        width: 100%;
        height: 300px !important;
        overflow: hidden;
    }
}

.blog_list_carousel_title {
    margin-bottom: 0.5rem;
    font-weight: 800;
    line-height: 1.2;
    font-size: 2rem;
}

.blog_list_blogs_container {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.blog_list_blog {
    height: 500px;
    background-color: lighten($color: $background_color, $amount: 5);
    padding-left: 0px !important;
    padding-right: 0px !important;

    &:hover {
        background-color: lighten($color: $background_color, $amount: 10);
    }
}

.blog_list_blog_container {
    height: 100%;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.blog_list_blog_image_container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.blog_list_blog_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .blog_data {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.blog_list_blog_data_details {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.blog_list_blog_data {
    padding: 10px !important;
    overflow-wrap: anywhere;
}

.blog_list_blog_title {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 1.2rem;
    color: #c9e7e1;
    height: 85px;
    overflow: hidden;
    display: -webkit-box !important ;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    
}

.carousel-inner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.carousel-indicators li {
    width: 5px !important;
    height: 5px !important;
}

.blog_list_blog_uploader_photo {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
}

.blog_list_profile_image_container{
    margin-left: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.blog_list_carousel_image {
    width: 100%;
}

.blog_page_img_box {
    width: 100%;
}

.blog_page_title {
    position: absolute !important;
    bottom: 18rem;
    margin: 10px;
    font-size: 2.3rem;
    font-weight: 800;
    overflow: hidden;
    height: 100px !important;
    width: 95% !important;

    // color: rgb(235, 131, 33);
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.blog_page_description {
    position: absolute;
    bottom: 6rem;
    margin: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;

    height: 70px;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.blog_page_content{
    overflow-wrap: anywhere;
}

@media (max-width: 580px) {

    .blog_page_description {
        position: relative;
        margin: 0;
    }
}

.blog_header_image_container {
    width: 100%;
    height: 500px;
    overflow: hidden;
}


.blog_header_image {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.blog_page_text_over_image {
    padding-left: 20px;
    padding-right: 20px;
}

.carousel-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}
.category_buttons {
    width: 200px;
    margin-right: 70px;
}

.photos {
    height: 200px;
    width: 200px;
}

.blog_page_uploader {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
}

.footer_nav {
    list-style: none;
    float: left;
}
.social_links {
    list-style: none;
    float: right;
}
.footer_nav li,
.social_links li {
    display: inline-block;
    margin-right: 20px;
}
.footer_nav li a:link,
.footer_nav li a:visited,
.social_links li a:link,
.social_links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer_nav li a:hover,
.footer_nav li a:active {
    color: #ddd;
}

footer {
    background-color: rgb(26, 25, 25);
    padding: 20px;
    font-size: 20px;
    border-top: 1px solid rgb(70, 68, 68);
    height: 114px
}

.container_head{
    height: 100px;
}

.content_wrapper{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

.main_wrapper{
    height: 100%;
}

.copyright_statement {
    color: rgb(221, 221, 221);
    background-color: #1a1919;
    text-align: center;
    font-size: small;
}

.blog_page_comment_section {
    position: sticky;
    bottom: 1px;
    background-color: $background_color;
}

.username {
    color: $custom_color_1;
    margin-bottom :0.5rem;
    &:hover {
        color: white;
    }
}

.blog_data_comments {
    background-color: lighten($color: $background-color, $amount:5);
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom:10px;
    text-align: left !important;
    border-radius:50px;
}

#blog_data_comment_btn {
    background-color: rgb(43, 136, 58) !important;
    border-color: rgb(43, 136, 58) !important;
    text-align: left !important;


    &:hover {
        background-color: lighten(
            $color: rgb(43, 136, 58),
            $amount: 10
        ) !important;
    }

    &:active {
        box-shadow: 5px rgb(43, 136, 58) !important;
    }
}

.blog_page_username {
    font-size: 30px;
}

.likes_modal_btn {
    color: rgb(112, 147, 241);
    font-weight: 600;
    position: absolute;
    bottom: 0;

    &:hover {
        cursor: pointer;
        color: rgba(112, 147, 241, 0.8);
    }
}

.blog_comment_reply{
  font-size: 13px;
  color: rgb(197, 197, 197);
  

  &:hover{
    color: rgb(235, 235, 235);
    cursor: pointer
  }
  
}

#search_button{
    font-size:20px;
    color:white;
    padding-left:4px;
    padding-top:5px;
    margin-top:3px;
    margin-bottom:5px;
    &:hover{
        color:skyblue;
        cursor:pointer;
    }
}


.category_container{
    height: 50px;
    width: 200px;
    margin-left: 20px;
    
    &:hover{
        cursor: pointer;
    }
}

.category_image_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.category_image{
    width: 100%;
}

.category_overlay{
    position: absolute;
    top: 0;
    height: 50px ;
    width: 200px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    
    opacity: 0.5;

    &:hover{
        background-color: lighten($custom_color_1, 10);
    }
}

.category_name{
    position: absolute;
    bottom: 22px;
    width: 200px;
    text-align: center;
    font-weight: 900;
}

.category_hover_overlay{
    position: absolute;
    top: 0;
    height: 50px ;
    width: 200px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    
    opacity: 0;

    &:hover{
        background-color: white;
        opacity: 0.2;
    }
}

.upload_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    
    &:hover{
        cursor: pointer;
    }
}

.upload_buttons_container{
    width: 60px !important ;
    padding-left: 0.7rem;
}

.active_category_overlay{
    position: absolute;
    top: 0;
    height: 50px ;
    width: 200px;
    background-color: rgba($color: #fda643, $alpha: 0.7);
    
    opacity: 0.7;
}

.blog_replies{
max-width: 600px;
 margin-left:60px;
 margin-right:60px;
 padding : 20px 10px;
 border-radius: 25px;
 background-color:lighten($color: $background-color, $amount:10);
}

.share_buttons {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.text-white-color {
    color: white !important;
}

.label-alpha-white {
    color: rgba(248, 248, 248, 0.87) !important;
}

.search-tags-label{
    color: rgba(248, 248, 248, 0.87) !important;
}

.search-tags{
    color: rgba(248, 248, 248, 0.87) !important;
}

.search-tags-root{
    color: rgba(248, 248, 248, 0.87) !important;
    width: 100% !important;
}

.zeropadding{
    padding: 0 !important;
}

.overlay-loading{
    display:flex !important;
    align-items: center !important;
    justify-content: center !important;

    position:fixed !important;
    padding:0 !important;
    margin:0 !important;

    top:0 !important;
    left:0 !important;

    width: 100% !important;
    height: 100% !important;
    background:rgba(255,255,255,0.5) !important;
    z-index: 1040;
}

@import "userprofile.scss";
@import "commentsOptions.scss";
@import "comicList";
@import "homegrid";
@import "postUploaderDetails";
@import "mangaList.scss";
@import "mangaData.scss";
@import "custom1";
@import "custom2";
@import "~bootstrap/scss/bootstrap.scss";

