$background_color: rgb(32, 31, 31);

$body-bg:  $background_color!important;
$body-color: white;

$custom_color_1: rgb(238, 129, 39);

@mixin btn_color {
    background-color: $custom_color_1 !important;
    border-color: $custom_color_1 !important;
    box-shadow: none !important;
}

.btn-primary{

    @include btn_color(); 

    &:hover {
        background-color: lighten($color: $custom_color_1, $amount: 10)  !important;
    }

    &:active:focus,
    &.active,
    &:active:focus{
        @include btn_color();
    }

    &:focus {
        @include btn_color();
    }
}

.modal-content{
    color: $custom_color_1;
    background-color: $body-bg;

    &.a{
        color: lighten($color: $custom_color_1, $amount: 60);
    }
}

.search-icon{
    color: $custom_color_1;
}

.nav_profile{
    width: 100px;
}

.nav_profile_img{
    margin-top: 4px;
    margin-left: 40px;
    width: 35px;
    height: 35px;
}


.profile_page_header{
    margin: 20px;
}

.profile_page_photo{
    height: 150px;
    width: 150px;
}

.profile_page_user_name{
    margin-top: 20px;
    margin-left: 2px;
    padding-right: 20ox;
    size: 20px;
}

.search_bar{
    width: 100%;
    height: 30px;
    margin-right: 30px;
    margin-left: 10px
}

.post_details_section{
    background-color: lighten($color: $background_color, $amount: 20);
    height: calc(100vh - 56px);
    overflow-y: scroll;
    top: 56px;
    position: sticky !important;
}

.post_photos_section{
    background-color: lighten($color: $background_color, $amount: 10);
    
}

.post_profile_photo{
    width: 60px;
    height: 60px;
}

.comment_profile_photo{
    width: 30px;
    height: 30px;
}


.post_page_image{
    max-width: 900px;
    max-height: 600px;
    margin: 20px;
}

.post_page_uploader_info{
    margin-top: 20px;
}

.space_for_navbar{
    height: 56px;
    width:100%
}

.post_comment_textarea{
    position: sticky !important;
    bottom: 1px;
}

.add_background_color{
    background-color: lighten($color: $background_color, $amount: 20);
    width:100%;
}

.a {
    color: white !important;
}

@import '~bootstrap/scss/bootstrap.scss';
