.profile_page_header {
    margin: 20px;
}
.profile_page_photo {
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.profile_page_full_name{
    padding-top:10px;
    font-size: 30px;
    font-weight:bold;
    padding-bottom:10px;
}
.follow_about_button{
    padding:10px;
    margin:10px;
    border-radius: 200px;
}